{% assign skill = include.skill %}
{% assign category = include.category %}

{% case category.type %}
	{% when 'text' %}
		<span class="badge badge-pill badge-primary">{{ skill.label }}</span>
	{% when 'progressbar' %}
		<div>
			<div class="progress mb-2">
				<div class="progress-bar" style="width: {{ skill.value }}%;" role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100">
					<div>
						<span class="float-left ml-2">{{ skill.label }}</span>
					</div>
				</div>
			</div>
		</div>
{% endcase %}
