section#cv {

	header {
		img#profile-picture {
			max-width: 15em;
			margin-right: 0.5em;
			border-radius: 1%;
		}

		h1 {
			margin-top: 0.5em;
			margin-bottom: 0.6em;
		}
	}

	article.activity {
		margin-bottom: 1em;
		padding: 0.3em;
	}


}