---
layout: default
---

<section id="cv">
  <header class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <img id="profile-picture" src="{{ site.data.profile.picture }}" class="float-left" alt="{{ site.data.profile.firstname }} {{ site.data.profile.lastname }}">
    </div>
    <div class="p-2 bd-highlight w-auto">
      <h1>{{ site.data.profile.firstname }} {{ site.data.profile.lastname }}</h1>
      {% include pageBy.md title='About' %}
    </div>
  </header>

  <hr class="mb-3">

  <div class="row">
    <div class="col-md-9">
      {% include activityCards.html category='xppro' %}
      {% include activityCards.html category='scolar' %}
    </div>
    <div class="col-md-3">
      {% assign langs = site.data.skills | where: 'category', 'langs' | sort: 'value' | reverse %}
      {% include skillCards.html category='softskills' %}
      {% include skillCards.html category='langs' skills=langs %}
    </div>
  </div>
</section>